body {
    background-color: #FFFDFE;
}

p {
    color: #7B7424;
}

.boothdi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boothdi table a {
    font-size: 2vw; text-decoration: none; font-family: "Inter", sans-serif; color: #7B7424;
    background-color: antiquewhite; border-radius: 100vw; padding-left: 1.5vw; padding-right: 1.5vw;
    padding-top: 0.5vw; padding-bottom: 0.5vw; transition: all 0.5s ease; 
    margin-left: 2.5vw;margin-right: 2.5vw;
}

.boothdi table a:hover {
    color: #FFFDFE; background-color: #7B7424;
}

.slider {
  margin: auto;
  position: relative;
  height: 450px;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(600px*12);
  animation: scroll 40s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-600px*6));
  }
}
.slide {
  height: 350px;
  width: 600px;
  display: flex;
  align-items: center;
  padding: 8px;
  perspective: 100px;
}
.img-slide {
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 1s;
}
.img-slide:hover {
  transform: translateZ(3.5px);
}